body {
  font-family: "Montserrat", serif;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

nav {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: #888;
  text-decoration: none;
}

nav li {
  list-style: none;
  font-size: medium;
  color: #888;
  margin-left: 10px;
}

li a[href="blog.html"] {
  font-weight: bold;
  color: #9f7ebf;
}

nav ul {
  display: flex;
  flex-direction: row;
}

li a[href="blog.html"] {
  font-weight: bold;
  color: #9f7ebf;
}

h1 {
  font-family: "Abril Fatface", serif;
  color: #d9597b;
}

h2,
h3 {
  color: #2e0da6;
}
.texte {
  font-size: 20px;
  text-align: justify;
}

footer {
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding-bottom: 200px;
}

.illustration {
  width: 350px;
  height: 350px;
}

.welcome {
  display: flex;
}

.blabla {
  width: 80%;
  text-align: justify;
  padding-right: 20px;
}

.social-buttons {
  display: flex;
  justify-content: start;
  gap: 20px;
}

.social-button {
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  background-color: #00abf4;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

.social-button img {
  height: 24px;
  margin-right: 10px;
}

.medium-button {
  background-color: black;
}

.linkedin-button {
  background-color: #0c64c4;
}

a img {
  width: 20px;
  height: 20px;
}

a img {
  width: 20px;
  height: 20px;
}
