body{
  width: 70%;
  font-family: "Montserrat", serif;
  margin: auto;
}

h1
{
  font-family: "Abril Fatface", serif;
  color: #D9597B;
  font-size: xx-large;
}

nav{
display: flex;
align-items: center;
justify-content: space-between;
}

nav a{
  color: #888;
  text-decoration: none;
}

nav li{
  list-style: none;
  font-size: medium;
  color: #888;
  margin-left:10px;
}

nav ul{
  display: flex;
  flex-direction: row;
}

nav a:active:active{
  color: blue;
}

.titre{
  font-size: xx-large;
}

form{
  font-size: large;
}

fieldset{
  text-decoration: none;
}

