body{
    font-family: "Montserrat", serif;
    width: 70%;
    margin: auto;
  }
  
  h1
  {
    font-family: "Abril Fatface", serif;
    color: #D9597B;
  }

  h2 {
    color: #D9597B;
  }
  
  nav{
    width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  
  nav a{
    color: #888;
    text-decoration: none;
  }
  
  nav li{
    list-style: none;
    font-size: medium;
    color: #888;
    margin-left:10px;
  }
  
  nav ul{
    display: flex;
    flex-direction: row;

  }
  
  li a[href="index.html"]{
    font-weight: bold;
    color: #9F7EBF;
  }

  div a {
    color: #D9597B
  }

  main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
   
  }

  .article{
   margin: 10px;
  }

  main div img{
    width: 100%;

  }

  div{
    width: 600px;
  }

  a img{
    width: 20px;
    padding-right: 5px;
  }
  
  .titre{
    margin-top: 3%;
    font-size: 50px;
  }
  
  .blabla{
    width: 98%;
    text-align: justify;
    margin-top: 50px;
  }
  
  .welcome {
    font-family: "Abril Fatface", serif;
    font-size: 40px;
    color: #D9597B;
    
  }
  
  .reseaux-sociaux{
    margin-top: 60px;
  }
  
  .vertical{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
  }
  
  .horizontal{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .illustration{
    width:500px;
    height: fit-content;
  
  }
  
  .button-twitter {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 20px 45px;
  
    background: #00ABF4;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase
  }
  
  .button-linkedin {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 20px 45px;
    background: #0479cd;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase
  }
  
  .button-medium {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 20px 45px;
    background: #000000;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase
  }

 

