body {
  font-family: "Montserrat", serif;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: #888;
  text-decoration: none;
}

nav li {
  list-style: none;
  font-size: medium;
  color: #888;
  margin-left: 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
}

li a[href="a-propos.html"]{
  font-weight: bold;
  color: #9F7EBF;
}
/*image*/
.image_top {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.image_top-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%); /*ベンダープレフィックス*/
  -webkit-transform: translate(-50%, -50%); /*ベンダープレフィックス*/
  transform: translate(-50%, -50%); /*センター寄せの修正*/
  background: white;
  font-size: 2.5rem;
}


/*titre et texte*/

h1 {
  font-family: "Abril Fatface", serif;
  color: #d9597b;
  text-align: center;

}

h2{
  color: #d9597b;
}

h3{
  color: #d9597b;
  font-size: large;
}

.texte {
  font-size: 20px;
  text-align: justify;
}


#h2-footer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  
}

footer {
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding-bottom: 200px;
}

.illustration {
  width: 350px;
  height: 350px;
}

.welcome {
  display: flex;
}



.social-buttons {
  display: flex;
  justify-content: start;
  gap: 20px;
}

.social-button {
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  background-color: #00abf4;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

.social-button img {
  height: 24px;
  margin-right: 10px;
}

.medium-button {
  background-color: black;
}

.linkedin-button {
  background-color: #0c64c4;
}

main{
  width: 80%;
  margin: auto;
}